@import 'abstracts/variables';
@import 'abstracts/mixin';

@import 'base/fonts';
@import 'base/base';

@import 'layout/contents';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';
@import 'layout/main';
@import 'layout/floor';
@import 'layout/tenant';

//scss
.full-base {
  position: relative;
  top: 0;
  left: 0;
  transition: left 0.25s ease-in-out;
  nav {
    position: absolute;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background: $white;
  }
  &.active {
    left: 250px;
  }
}
