@mixin clearfix() {
  &::after {
    content: '';
    display: block;
    float: none;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
  }
}

@mixin blind() {
  position: absolute;
  left: -9999px;
  top: 0;
  height: 0;
  font-size: 1px;
  line-height: 0;
  @include ir;
}

@mixin ir() {
  text-indent: -9999em;
  overflow: hidden;
}

@mixin inAfter() {
  content: '';
}

@mixin mgCenter {
  margin: auto;
}

@mixin posiCenter($areaPosi) {
  @if $areaPosi == 'va' {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $areaPosi == 'a' {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else if $areaPosi == 'v' {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin disinBlock($va) {
  display: inline-block;

  @if $va == 'm' {
    vertical-align: middle;
  } @else if $va == 't' {
    vertical-align: top;
  } @else if $va == 'b' {
    vertical-align: bottom;
  }
}

@mixin formindent {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin mq($screen-width) {
  @if $screen-width == 'min375' {
    @media screen and (min-width: 375px) {
      @content;
    }
  }
}
