.btn1 {
  display: block;
  width: 100%;
  padding: 7px 5px 9px;
  font-weight: 700;
  text-align: center;
}
.btg-primary {
  color: $white;
  background-color: $primary;
  border: 1px solid $primary;
}
.btg-black {
  color: $white;
  background-color: $black;
  border: 1px solid $black;
}
.btg-gray {
  color: $white;
  background-color: $gray;
  border: 1px solid $gray;
}
.btn-more {
  a {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
  }
}
