.formwrap {
  .selectbox {
    margin-bottom: 20px;
  }
}
.selectbox {
  position: relative;
  width: 100%;
  &::after {
    @include inAfter();
    @include posiCenter('v');
    display: block;
    width: 12px;
    height: 10px;
    right: 12px;
    background: url('../images/icon/ico_arrow.svg') no-repeat center;
    background-size: contain;
    z-index: 1;
  }
  select {
    background-color: $white;
    border: 1px solid $gray;
    width: 100%;
    height: 40px;
    padding: 0 28px 0 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
  }
}
.inputbox {
  position: relative;
  width: 100%;
  input {
    background-color: $white;
    border: 1px solid $gray;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
  }
}
.phonebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .selectbox,
  .inputbox {
    flex: 0 0 29.8%;
    margin-top: 0;
  }
}
.chkbox {
  input[type='checkbox'] {
    @include formindent();
    & + label {
      @include disinBlock('m');
      position: relative;
      min-height: 20px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      cursor: pointer;
      &:before {
        @include disinBlock('m');
        background-color: $gray;
        border: 1px solid $gray;
        content: '';
        width: 16px;
        height: 16px;
        line-height: 20px;
        margin: -1px 5px 0 0;
        text-align: center;
        box-sizing: border-box;
        transition: 0.3s ease-in;
        z-index: 2;
      }
      &:after {
        @include disinBlock('m');
        @include inAfter();
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        top: 50%;
        margin: -6px 0 0 3px;
        background: url('../images/icon/ico_check.svg') no-repeat center;
        background-size: contain;
        opacity: 0;
        transition: 0.3s ease-in;
        z-index: 1;
      }
    }
    &:checked + label:before {
      border-color: $primary;
      background-color: $primary;
    }
    &:checked + label:after {
      opacity: 1;
    }
  }
}
