.tbl1 {
  border-top: 1px solid $gray;
  tbody {
    th,
    td {
      border-bottom: 1px solid $gray;
      padding: 11px 10px;
    }
  }
}

.ulist1 {
  & > li {
    border-top: 1px solid $primary;
    padding-top: 20px;
    margin-top: 20px;
    &:first-of-type {
      padding-top: 0;
      margin-top: 0;
      border-top: none;
    }
  }
}
.ulist2 {
  & > li {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 300;
    &::before {
      @include inAfter();
      background-color: $black;
      display: block;
      position: absolute;
      width: 3px;
      height: 3px;
      top: 9px;
      left: 8px;
      border-radius: 50%;
    }
  }
  &.type2 {
    & > li {
      color: $primary;
      &::before {
        background-color: $primary;
      }
    }
  }
  &.type3 {
    border-top: 1px dashed $primary;
    & > li {
      margin-top: 20px;
    }
  }
}
.dlist {
  & > dt {
    font-weight: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  & > dd {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 300;
    &::before {
      @include inAfter();
      background-color: $primary;
      display: block;
      position: absolute;
      width: 3px;
      height: 3px;
      top: 9px;
      left: 8px;
      border-radius: 50%;
    }
  }
}
.listwrap {
  position: relative;
  & + .listwrap {
    margin-top: 50px;
    padding-top: 50px;
    &::before {
      @include inAfter();
      @include posiCenter('a');
      background-color: $primary;
      display: block;
      width: calc(100% - 30px);
      height: 1px;
      top: 0;
    }
  }
}
.brd-list {
  & > li {
    margin-top: 20px;
    &:first-of-type {
      margin-top: 0;
    }
    a {
      display: block;
    }
    .brd-wrap {
      padding: 12px 20px 9px;
      .tit {
        @include ellipsis(2);
        font-weight: 700;
        word-break: break-all;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        word-break: break-all;
      }
    }
  }
  & + .btn-more {
    margin: 50px 20px 0;
  }
}
.notice-list {
  border-top: 1px solid $gray;
  & > dt,
  & > dd {
    border-bottom: 1px solid $gray;
  }
  & > dt {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    div {
      font-size: 14px;
      font-weight: 700;
    }
  }
  & > dd {
    & > a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 11px 10px;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.3;
      .num,
      .category,
      .date {
        font-size: 10px;
      }
    }
    .cont {
      border-top: 1px solid $gray;
      display: none;
      padding: 20px 10px;
      font-size: 14px;
      font-weight: 300;
      word-break: break-all;
      p {
        word-break: break-all;
      }
    }
    &.active {
      background-color: $gray-light;
      & > a {
        font-weight: 700;
      }
      .cont {
        display: block;
      }
    }
  }
  .num {
    flex: 0 0 31px;
    word-break: break-all;
  }
  .category {
    flex: 0 0 63px;
    margin-left: 5px;
    word-break: break-all;
  }
  .tit {
    flex: 0 0 calc(100% - 104px);
    margin-left: 5px;
    word-break: break-all;
  }
  .date {
    flex: 0 0 63px;
    text-align: right;
  }
}
.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .btn-control {
    display: block;
    width: 34px;
    height: 34px;
    overflow: hidden;
    &:disabled {
      span {
        background-color: $gray;
      }
    }
    span {
      @include ir();
      @include mgCenter();
      background-color: $black;
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      &::after {
        @include inAfter();
        @include posiCenter('va');
        width: 8px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &.prev {
      left: 0;
      span {
        &::after {
          background-image: url('../images/icon/ico_prev.svg');
        }
      }
    }
    &.next {
      right: 0;
      span {
        &::after {
          background-image: url('../images/icon/ico_next.svg');
        }
      }
    }
  }
  .pagenum {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    li {
      position: relative;
      margin-right: 3px;
      padding-left: 3px;
      a {
        display: block;
        width: 34px;
        height: 34px;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        text-align: center;
      }
      &::before {
        @include posiCenter('v');
        @include inAfter();
        background-color: $gray;
        width: 3px;
        height: 3px;
        left: -1px;
        border-radius: 50%;
      }
      &:first-of-type {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
      &.current {
        a {
          color: $primary;
          font-weight: 700;
        }
      }
    }
  }
}
.detail-view {
  .tit {
    padding: 0 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .cont {
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .guide {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    strong {
      font-weight: 700;
    }
  }
  & + .btn-more {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .imgthumb {
    margin-bottom: 20px;
  }
  .detail-text {
    padding-left: 20px;
    padding-right: 20px;
    .tit {
      padding: 0;
    }
    .text {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 300;
    }
    .guide-list {
      border-top: 1px solid $primary;
      & > li {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 300;
      }
      .list-tit {
        font-weight: 700;
      }
    }
  }
}
.tab-menu {
  display: flex;
  justify-content: space-between;
  & > li {
    & > a {
      color: $gray;
      display: block;
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.1;
      span {
        position: relative;
        display: inline-block;
      }
    }
    &.active {
      & > a {
        color: $primary;
        span {
          &::after {
            background-color: $primary;
            @include inAfter();
            display: block;
            width: 100%;
            height: 1px;
            bottom: 0;
          }
        }
      }
    }
  }
  &.tabintab {
    border-top: 1px solid $primary;
    justify-content: center;
    & > li {
      position: relative;
      padding-left: 8px;
      margin-right: 8px;
      @include mq(min375) {
        padding-left: 15px;
        margin-right: 15px;
      }
      & > a {
        padding: 20px 0;
        font-size: 1rem;
      }
      &::before {
        background-color: $gray;
        @include inAfter();
        @include posiCenter('v');
        width: 3px;
        height: 3px;
        left: -1px;
        border-radius: 50%;
      }
      &:first-of-type {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
.listnone {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;

  .text1 {
    color: $primary;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }
  @at-root .inner & {
    padding-left: 20px;
    padding-right: 20px;
  }
}
