#app {
  overflow: hidden;
}
.contents {
  padding: 20px 0;
}
.inner {
  padding-left: 10px;
  padding-right: 10px;
}
.inner2 {
  padding-left: 30px;
  padding-right: 30px;
}
.sector {
  margin-bottom: 50px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.sectit1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.imgwrap {
  img {
    width: 100%;
  }
}
.patition-text {
  span {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding-left: 10px;
    font-size: 15;
    font-weight: 700;
    &::before {
      @include inAfter;
      @include posiCenter('v');
      background-color: $black;
      display: block;
      position: absolute;
      width: 1px;
      height: 17px;
      left: 0;
    }
    &:first-of-type {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.dlist {
  & > dt {
    font-weight: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  & > dd {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    font-weight: 300;
    &::before {
      @include inAfter();
      background-color: $primary;
      display: block;
      position: absolute;
      width: 3px;
      height: 3px;
      top: 9px;
      left: 8px;
      border-radius: 50%;
    }
  }
}
