.logbtn-wrap {
  .btn1 {
    margin-bottom: 20px;
  }
}
.joinbox {
  & + .joinbox {
    border-top: 1px solid $primary;
    margin-top: 20px;
    padding-top: 20px;
  }
  .inputbox {
    & + .inputbox,
    & + .phonebox {
      margin-top: 20px;
    }
  }
  .btn1,
  .ulist2,
  .fs10 + .agreebox,
  .argbox + .argbox {
    margin-top: 20px;
  }
  .fs10 {
    line-height: 2;
  }
  .agreebox {
    height: 140px;
    margin-bottom: 10px;
  }
}
.login-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  & > li {
    position: relative;
    flex: 0 0 33%;
    &::before {
      @include inAfter();
      background-color: $gray;
      position: absolute;
      display: block;
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:first-of-type {
      &::before {
        display: none;
      }
    }
    a {
      display: block;
      font-size: 14px;
      text-align: center;
    }
    .ico {
      height: 44px;
      margin-bottom: 10px;
      padding-top: 10px;
      overflow: hidden;
      img {
        height: 25px;
      }
    }
  }
}
.members-agreebox {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  margin-bottom: 20px;
  font-size: 14px;
  .chkwrap {
    flex: 0 0 73px;
  }
}
.agreebox {
  border: 1px solid $gray;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  overflow: hidden;
  overflow-y: auto;
}
.chkfelx {
  display: flex;
  justify-content: space-between;
  .chkmodoo {
    flex: 0 0 65px;
  }
}
.join-footment {
  margin: 50px 0 20px;
  font-size: 14px;
  font-weight: 300;
}
