.mypage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > li {
    flex: 0 0 100%;
    margin-bottom: 20px;
    &:last-of-type {
      margin-top: 0;
    }
    &.grid-2 {
      flex: 0 0 (173/355) * 100%;
    }
  }
  .item {
    border: 1px solid $gray;
    background-color: $white;
    padding: 20px;
    border-radius: 20px;
    h4 {
      color: $primary;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
    .item-area {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 19px;
      text-align: center;
      .icon {
        flex: 0 0 100%;
        .ico-img {
          @include mgCenter();
          background-color: $gray;
          width: 60px;
          height: 60px;
          margin-bottom: 5px;
          border-radius: 50%;
          img {
            width: 100%;
          }
        }
      }
      .item-tit {
        flex: 0 0 100%;
        font-size: 28px;
        font-weight: 700;
        &.type1 {
          font-size: 24px;
        }
        & + p {
          margin-top: 16px;
        }
      }
      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
    .btn2 {
      width: 98px;
      margin-left: auto;
      margin-right: auto;
    }
    .barcode {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
  .btn-withdrawal {
    margin-top: 20px;
    text-align: center;
    a {
      color: $red;
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      &::after {
        @include inAfter();
        background-color: $red;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.ico-coupon {
  height: 32px;
  margin-bottom: 30px;
  background: url('../images/icon/ico_coupon.svg') no-repeat;
  background-size: contain;
}
.sect-mypage {
  .inner2 {
    position: relative;
    .btn2 {
      position: absolute;
      display: inline-block;
      width: auto;
      top: 0;
      right: 30px;
    }
  }
  .userwrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .icon {
      background-color: $gray;
      flex: 0 0 60px;
      height: 60px;
      border-radius: 50%;
    }
    .username {
      flex: 0 0 calc(100% - 60px);
      padding-left: 10px;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
.sect-mycoupon {
  .ment1 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .ment2 {
    font-size: 14px;
    font-weight: 300;
  }
  .btnwrap,
  .btn-more {
    margin-top: 50px;
  }
}
.sect-withdrawal {
  .title {
    color: $white;
    background-color: $red;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .withdrawal-ment {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    p {
      margin-top: 20px;
      &:first-of-type {
        margin-top: 0;
      }
      strong {
        font-size: 18px;
      }
    }
  }
  .btnwrap {
    margin-top: 50px;
  }
}
.terms-wrap {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.6;
  h3 {
    font-size: 1rem;
  }
  h4 {
    margin: 24px 0 4px;
  }
  ol {
    padding-left: 16px;
    & > li {
      list-style: decimal;
    }
  }
  .desc-txt {
    margin-bottom: 12px;
  }
  .terms-part {
    border-bottom: 1px solid $primary;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  table {
    border: 1px solid $gray;
    table-layout: fixed;
    width: 100%;
    min-width: 100%;
    margin: 12px 0;
    border-collapse: collapse;
    border-bottom: none;
    word-break: break-all;
    thead {
      th {
        background-color: $gray-light;
        border-bottom: 1px solid $gray;
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 700;
        word-break: break-all;
      }
    }
    th + th,
    th + td,
    td + td {
      border-left: 1px solid $gray;
    }
    tbody {
      td {
        background-color: $white;
        border-bottom: 1px solid $gray;
        height: 37px;
        padding: 8px 10px;
        font-size: 14px;
        word-break: break-all;
      }
    }
  }
}
